* {
  box-sizing: border-box;
  outline: 0;
  font-family: 'Inter', sans-serif;
  scrollbar-gutter: stable;

  &::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  &::-webkit-scrollbar-track {
    background: #fff;
  }

  &::-webkit-scrollbar-thumb {
    background: #dfdfdf;
    border-radius: 8px;

    &:hover {
      background: #cfcfcf;
    }
  }
}

#app {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

// Display user selections
h1, h2, h3, h4, h5, p, small {
  user-select: none;
}

html, body {
  width: 100%;
  background: #efefef;
}
